<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="BIM360GlueSDKSampleWebApp.project_ajaxAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="BIM360GlueSDKSampleWebApp.project_ajax">
                <endpoint address="" behaviorConfiguration="BIM360GlueSDKSampleWebApp.project_ajaxAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="BIM360GlueSDKSampleWebApp.project_ajax" />
            </service>
        </services>
    </system.serviceModel>


  <!-- SAMPLE APPLICATION SETTINGS -->
  <appSettings>

    <!-- API Configuration Options -->
    <add key="BIM360GLUESDK_BASE_URL" value="http://bim360.autodesk.com/api/" />
    <add key="BIM360GLUESDK_COMPANY_ID" value="YOUR_COMPANY_ID_HERE" />
    <add key="BIM360GLUESDK_API_KEY" value="YOUR_API_KEY_HERE" />
    <add key="BIM360GLUESDK_API_SECRET" value="YOUR_API_SECRET_HERE" />

    <!-- Web App Configuration Options -->
    <add key="GLUE_VIEWER_BASE_URL" value="http://api.horizontalglue.com/api/horizontal.glue.xbap?" />
    <add key="BIM360GLUESDK_COOKIE_COLLECTION" value="BIM360GLUESDK_SAMPLE" />
    <add key="BIM360GLUESDK_COOKIE_LIFESPAN" value="30" />

    <!-- User Agent Info -->
    <add key="BIM360GLUESDK_APP_NAME" value="SampleWebApp" />
    <add key="BIM360GLUESDK_APP_VERSION" value="1.0" />
    <add key="BIM360GLUESDK_APP_PLATFORM" value="WINDOWS.NET" />
    <add key="BIM360GLUESDK_APP_PAGE" value="web" />
    <add key="BIM360GLUESDK_APP_INFO" value="" />

  </appSettings>

</configuration>
